@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bg-dark text-text-primary antialiased;
  }

  a {
    @apply text-accent-teal hover:text-accent-lemon transition-colors;
  }
}
