@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bg-dark text-text-primary antialiased;
  }

  a {
    @apply text-text-secondary hover:text-text-primary transition-colors;
  }
}
